<form enctype="multipart/form-data" action="../app/upload.php" method="post">
    <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
    Transfère le fichier <input type="file" name="fichier" />
    <input type="submit" />
</form>